*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'outfit', sans-serif;
}

/* HEADER */
header{
    font-size: 3em;
    font-weight: bolder;
    line-height: 100px;
    padding-left: 20px;
    background-color: white;
}

/* LOGO */
header section img{
    width: 70px;
    vertical-align: middle;
}


/* CONTAINER */
.container{
    margin-top: 50px;
}

/* CONTAINER BOTTONI */
#container-button{
    /* border: 2px solid red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 300px 10px 50px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

/* BOTTONI */
#button-task{
    background-color: #73AAEA;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.2em;
    width: 130px;
    height: 40px;
}

#button-section{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1PX solid #C6CACF;
    color: #C6CACF;
    font-size: 1.2em;
    width: 130px;
    height: 40px;
    margin-left: 3px;
}

/* HOVER */
#button-task:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: #C6CACF;
    color: black;
}

#button-section:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: rgb(8, 117, 8);
    color: black;
}


/* CONTAINER BOTTONI */
#container-list{
    background-color: white;
    /* border: 2px solid red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 0px 300px 10px 50px;
}


/* LISTA */
ul{
    list-style-type:none ;
}

ul li{
    font-size: 1.6em;
    font-weight: bold;
}

li{
    line-height: 70px;
}
p{
    line-height: 40px;
    font-size: 1.2em;
}

/* CHECK */
ul .check{
    /* background-color: #86BEAC; */
    color: #86BEAC;
    padding: 1px;
    border: 2px solid #86BEAC;
    border-radius: 50%;
    margin-right: 8px;
}

/* CROSS */
ul .cross{
    /* background-color: #86BEAC; */
    color: #CF6054;
    padding: 1px;
    border: 2px solid #CF6054;
    border-radius: 50%;
    margin-right: 8px;
}

.freccia{
    font-size: 1.5em;
    vertical-align: middle;
}