*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'outfit', sans-serif;
}

h3{
    font-size: 1.4em;
}

/* HEADER */
header{
    background-color: white;
    font-size: 3em;
    font-weight: bolder;
    line-height: 100px;
    padding-left: 20px;
}

/* LOGO */
header section img{
    width: 70px;
    vertical-align: middle;
}


/* CONTAINER */
.container{
    margin-top: 50px;
}

/* CONTAINER BOTTONI */
.container #container-button{
    /* border: 2px solid red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 300px 10px 50px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

/* BOTTONI */
.container #container-button #button-task{
    background-color: #73AAEA;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.2em;
    width: 130px;
    height: 40px;
}

.container #container-button #button-section{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1PX solid #C6CACF;
    color: #C6CACF;
    font-size: 1.2em;
    width: 130px;
    height: 40px;
    margin-left: 3px;
}

/* HOVER */
.container #container-button #button-task:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: #C6CACF;
    color: black;
}

.container #container-button #button-section:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: rgb(8, 117, 8);
    color: black;
}


/* CONTAINER BOTTONI */
#container-list{
    background-color: white;
    /* border: 2px solid red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 0px 300px 10px 50px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* LISTA     */
ul{
    list-style: none;
}

.lista h3::before{
    content: '\25BE';
    padding-right: 5px;
    
}

.lista ul li{
    line-height: 40px;
    font-size: 1.2rem;
}


/* CERCHI */
.cerchio::before{
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    font-size: .8rem;
}

.cerchio.check::before{
    content: '\2713';
    color: green;
    border: 1px solid green;
}

.cerchio.uncheck::before{
    content: '\2717';
    color: red  ;
    border: 1px solid red;
}


.badge{
    color: white;
    font-size: .7rem;
    padding: 5px 8px;
    border-radius: 10px;
}

.badge.editorial{
    background-color: #71A8E3;
}
.badge.q1{
    background-color: #9575DC;
}
.badge.recruiting{
    background-color: #83BCA9;
}
.badge.mobile{
    background-color: #DDA04D;
}
.badge.website{
    background-color: #C16A9D;
}
.badge.sales{
    background-color: #B3C64D;
}
